# Angular
node_modules/
dist/
tmp/
out-tsc/
*.log
*.tsbuildinfo
package-lock.json
yarn-error.log
npm-debug.log
coverage/
angular-*.json

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# NestJS
dist/
node_modules/
*.log
*.tsbuildinfo

# Environment files
.env
.env.local
.env.*.local

# Miscellaneous
.DS_Store
Thumbs.db
*.tgz
*.zip
*.tar.gz
*.gz
*.tgz
*.sql
*.sqlite
